/* $Id$ */

div.left-bar {
  float: left;
  position: relative;
  width: 240px;
  }
div.configuration {
  float: left;
  margin-left: -240px;
  }
  div.configuration-squeeze {
    float: left;
    margin-left: 250px;
    }
div.feeds-container.plain {
  background-color: #f5f5f3;
  padding: 5px;
  margin: 10px 0;
  }
  div.feeds-container.plain h4 {
    font-size: 1.1em;
    font-weight: bold;
    font-family: Arial;
    }
  ul.container-actions {
    float: right;
    }